/*Navbar styling*/
.navbar-light {
    background-color: rgba(255, 255, 255, 0.8);
}

/*Large Photos*/
.largePhotos {
    margin-top: 60px;
    background-image: url('https://static.pexels.com/photos/669615/pexels-photo-669615.jpeg');
    min-height: 50%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

.largePhotos h2 {
    padding-top: 25px;
    font-size: 50px;
    margin-bottom: 0px;
    font-weight: bolder;
    -webkit-text-stroke: 0.5px black;
}

.highlightText {
    padding: 10px 10px;
    color: white;
}

.header {
    padding-top: 20px;
}

.skillList {
    margin-top: 5%;
    padding-bottom: 5%;
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

.skillList ul{
    list-style-type: none;
}

.col-md-8 {
    padding-bottom: 25px;
}

/* Main Description */
.mainDesc {
    padding: 25px 0;
}

.mainDesc h3 {
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Accent Section */

.crossSection {
    background-color: #657FCC;
    color: white;
    padding: 25px 0;
}

.crossSection .col-sm-2 i{
    font-size: 40px;
    padding-top: 20px;
}

/* Features */

.features {
    padding: 25px 0;
}

.features h3 {
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 15px;
}

.features h5 {
    font-weight: bold;
}

.features p {
    color: #7c7c7c
}

.features .col-sm-2 {
    font-size: 33px;
    color: #657FCC
}

/* Footer */
footer {
    padding-top: 25px;
    background-color: #383838;
    color: white;
}

footer p {
    color: #d1d1d1;
}

footer li {
    color: #d1d1d1;
}

.emph {
    color: white;
}

.fa-mobile
